<?xml version="1.0"?>
<config>
    <modules>
        <DK_CustomerIP>
            <version>1.2.0</version>
        </DK_CustomerIP>
    </modules>
    <global>
        <ip>
            <services>
                <ipapi>
                    <name>IpApi</name>
                    <model>dk_customerip/ip_service_ipApi</model>
                </ipapi>
            </services>
        </ip>
        <blocks>
            <dk_customerip>
                <class>DK_CustomerIP_Block</class>
            </dk_customerip>
        </blocks>
        <helpers>
            <dk_customerip>
                <class>DK_CustomerIP_Helper</class>
            </dk_customerip>
        </helpers>
        <models>
            <dk_customerip>
                <class>DK_CustomerIP_Model</class>
                <resourceModel>dk_customerip_resource</resourceModel>
            </dk_customerip>
            <dk_customerip_resource>
                <class>DK_CustomerIP_Model_Resource</class>
                <entities>
                    <customer_info_ip>
                        <table>dk_customerip_info</table>
                    </customer_info_ip>
                </entities>
            </dk_customerip_resource>
        </models>
        <resources>
            <dk_customerip_setup>
                <setup>
                    <module>DK_CustomerIP</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </dk_customerip_setup>
        </resources>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <dk_customerip>
                        <type>singleton</type>
                        <class>dk_customerip/observer</class>
                        <method>newsletterSubscriberSaveBefore</method>
                    </dk_customerip>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DK_CustomerIP after="Mage_Adminhtml">DK_CustomerIP_Adminhtml</DK_CustomerIP>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dk_customerip>
                    <file>dk/customerip.xml</file>
                </dk_customerip>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dk_customerip translate="title" module="dk_customerip">
                                            <title>Customer IP</title>
                                        </dk_customerip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <dk_customerip>
            <settings>
                <customer_enabled>1</customer_enabled>
                <subscriber_enabled>1</subscriber_enabled>
            </settings>
            <ipapi>
                <timeout>60</timeout>
            </ipapi>
        </dk_customerip>
    </default>
    <crontab>
        <jobs>
            <ip_customer_update>
                <run>
                    <model>dk_customerip/process::saveInfo</model>
                </run>
            </ip_customer_update>
        </jobs>
    </crontab>
</config>